Lecture1Exercise/App_WebReferences/DentalWebRef/DentalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This XML Web service contains information about the dentists.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="GetAllDentists">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDentistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDentistsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDentistsByPostalCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postalCodeString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDentistsByPostalCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDentistsByPostalCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllDentistsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDentists" />
  </wsdl:message>
  <wsdl:message name="GetAllDentistsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDentistsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDentistsByPostalCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDentistsByPostalCode" />
  </wsdl:message>
  <wsdl:message name="GetDentistsByPostalCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDentistsByPostalCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="DentalServiceSoap">
    <wsdl:operation name="GetAllDentists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This XML Web service returns all the dentists.</wsdl:documentation>
      <wsdl:input message="tns:GetAllDentistsSoapIn" />
      <wsdl:output message="tns:GetAllDentistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDentistsByPostalCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This XML Web service method returns the dentists from a supplied postal code.</wsdl:documentation>
      <wsdl:input message="tns:GetDentistsByPostalCodeSoapIn" />
      <wsdl:output message="tns:GetDentistsByPostalCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DentalServiceSoap" type="tns:DentalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDentists">
      <soap:operation soapAction="http://microsoft.com/webservices/GetAllDentists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDentistsByPostalCode">
      <soap:operation soapAction="http://microsoft.com/webservices/GetDentistsByPostalCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DentalServiceSoap12" type="tns:DentalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDentists">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetAllDentists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDentistsByPostalCode">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetDentistsByPostalCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DentalService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This XML Web service contains information about the dentists.</wsdl:documentation>
    <wsdl:port name="DentalServiceSoap" binding="tns:DentalServiceSoap">
      <soap:address location="http://localhost:51563/DentalService.asmx" />
    </wsdl:port>
    <wsdl:port name="DentalServiceSoap12" binding="tns:DentalServiceSoap12">
      <soap12:address location="http://localhost:51563/DentalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>